<div class="row">
  <div class="col-sm">
    <%= link_to "New Document", new_document_path, class: "btn btn-primary mb-4 float-sm-right" %>
  </div>
</div>
<table class="table table-bordered table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">content type</th>
      <th scope="col">size in bytes</th>
      <th scope="col">Action</th>
      <th scope="col">Action</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <th scope="row"><%= document.id %> </th>
        <td><%= document.title %></td>
        <td><%= document.file.blob.content_type %></td>
        <td><%= document.file.blob.byte_size %></td>
        <td><%= link_to "Show", document %>  </td>
        <td><%= link_to "Destroy", document, data: { "turbo-method": :delete, confirm: "Are you sure want to delete?" },class: "btn btn-danger"  %> </td>
        <td><%= link_to "Share", share_document_path(document),class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
