<div class="row">
  <div class="col-sm-12 text-center">
    <h3>Show Documents</h3>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-4">Title</div>
  <div class="col-sm-8"><%= @document.title%></div>
</div>
<div class="row mt-4">
  <div class="col-sm-4">Description</div>
  <div class="col-sm-8"><%= @document.description%></div>
</div>
<% if @document.short_url.present? %>
  <div class="row mt-4">
    <div class="col-sm-4">
      Short Url
    </div>
    <div class="col-sm-8">
      <%= short_url(@document.short_url)%>
    </div>
  </div>
<% end %>
<div class="row mt-4">
  <div class="col-sm-12">
    <h4>To download file please click here  <%= link_to @document.title, download_document_path(@document) %></h4>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-12">
    Go back to   <%= link_to "Documents", documents_path, class: "btn btn-info" %>
  </div>
</div>
